*
{
	margin: 0px;
	padding: 0px;
}



body {
	background-color: orange;
}

main {
	text-align: center;
	font-family: "Roboto", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

h1 {
	font-size: clamp(30px, 3vh, 80px);
}

#start {
	background-color: #00d42a;
	width: clamp(140px, 20vw, 400px);
	height: clamp(60px, 5vh, 160px);
	border: none;
	border-right: 2px solid #00ad22;
	border-bottom: 2px solid #008a1b;
	font-size: clamp(15px, 1vw, 45px);
	color: #002b08;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
}

#start:hover{
	background-color: #00cc29;
}

#wrapper
{
	display: block;
}

#wrapper *
{
	margin: 10px;
}

#chk
{
	display: none;
}

#list
{
	display: none;
	position: absolute;
}