* {
	margin: 0px;
	padding: 0px;
}



body {
	background-image: radial-gradient(#ffc46b, #ffb648), url(../img/question.png);
	background-blend-mode:multiply;
	font-family: "Road Rage", sans-serif;
}


main
{
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	color: black;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

header {
	text-align: center;
	margin-top: 10px;
	font-size: 2em;
	margin-bottom: 20px;
}

#exit {
	background-color: rgb(255, 36, 36);
	border: 3px solid rgb(180, 6, 6);
	top: 30vh;
	left: 5vw;
}

#ask {
	background-color: rgb(0, 182, 206);
	border: 3px solid rgb(0, 149, 218);
	bottom: 10vh;
	right: 6vw;
}

#mode {
	background-color: rgb(151, 255, 130);
	border: 3px solid rgb(131, 180, 100);
	bottom: 10vh;
	left: 5vw;
}

#qlist
{
	position: absolute;
	display: none;
	bottom: 20vh;
	right: 4vw;
	height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;

}

::-webkit-scrollbar 
{
	width: 15px;
}

::-webkit-scrollbar-track 
{
	border-radius: 8px;
	box-shadow: inset 0 0 5px gray;
}
  
::-webkit-scrollbar-thumb 
{
	background-color: rgb(0, 182, 206);
	border-radius: 10px;
}

.question
{
	background-color: rgb(0, 182, 206);
	border: 1px solid rgb(0, 149, 218);
	border-radius: 4px;
	margin: 20px;
	width: 150px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2em;
	transition: 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
	cursor: pointer;
	user-select: none;
}

.question:hover
{
	transform: scale(1.1);
}

.positive
{
	background-color: rgb(151, 255, 130);
	border: 3px solid rgb(131, 180, 100);
}

.negative
{
	background-color: rgb(255, 36, 36);
	border: 3px solid rgb(180, 6, 6);
}

#chk, #chk2
{
	display: none;
}

.click {
	width: clamp(150px, 6vw, 300px);
	height: clamp(60px, 6vh, 80px);
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	position: absolute;
	cursor: pointer;
	user-select: none;
}

.click :first-child
{
	transition: 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.click :first-child:hover
{
	transform: scale(1.2);
}


#characters
{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1em;
	user-select: none;
	
}


#characters div
{
	border-radius: 5px;
	border: 7px solid;
	border-color: rgb(255, 155, 6);
	overflow: hidden;
	
}

.character img
{
	transition: 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}


.character img:hover
{
	transform: scale(1.2);
}

.selected
{
	opacity: 0.3;
}

.notnetworker
{
	opacity: 0;
}

#characters img
{
	width: 100%;
	height: 100%;
}

.character
{
	width: 12vw;
	height: 20vh;
	background-color: rgb(255, 192, 98);
}



@media screen and (max-width: 1000px) {
	main
	{
		margin-bottom: 100px;
	}

	.click {
		position: initial;
	}

	#buttons {

		position: fixed; 
		bottom: 2vh;
		display: flex;
		justify-content: space-evenly;
		width: 100vw;
	}
	

	#characters
	{
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1em;
	}

	.character
	{
		width: 20vw;
		height: 14vh;
	}

	.question
	{
		width: 300px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
	}


	#qlist
	{
		height: 80vh;
		bottom: 10vh;
		right: 12vw;
	}

	header {
		font-size: 1.2em;
	}
}