* {
	margin: 0px;
	padding: 0px;
}



body {
	background-image: radial-gradient(#ffc46b, #ffb648), url(../img/question.png);
	background-blend-mode:multiply;
	font-family: "Road Rage", sans-serif;
}

main {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

h1 {
	font-size: 52px;
	color: white;
	text-shadow: 5px 5px black;
}


a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: white;
}

#start {
	background-color: rgb(151, 255, 130);
	width: clamp(270px, 20vw, 400px);
	height: clamp(60px, 5vh, 160px);
	border: none;
	border: 3px solid rgb(131, 180, 100);
	border-radius: 5px;
	font-size: 40px;
	color: #002b08;	
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	margin-top: 15px;
	cursor: pointer;
	transition: 0.5s;
}


#start:hover {
	background-color: rgb(36, 218, 0);
	color: white;
}

#wrapper {
	display: block;
}


#chk {
	display: none;
}

#list li:first-child {
	transform: translateX(40px) skew(-30deg);
}

#list li:nth-child(2) {
	transform: translateX(40px) skew(-30deg);
}

#list li:last-child {
	transform: translateX(40px) skew(-30deg);
}

#list {
	font-size: 2.5em;
	transition: 0.8s linear;
	display: none;
	text-align: left;
	position: absolute;
	border-left: 2px solid black;
	transform: skew(30deg) translateX(40px);
	list-style-type: none;
}

#list li {
	position: relative;
}
