* {
	margin: 0px;
	padding: 0px;
}



body {
	background-color: #ffb950;
	background-image: url(../img/question.jpg);
	background-blend-mode: screen;
	font-family: "Road Rage", sans-serif;
}

body::before
{
	left: 0;
	top: 0;
	content: "";
	width: 100vw;
	height: 100vh;
	background-image: radial-gradient(#ffb950, #ffab2d);
	opacity: 85%;
	position: absolute;
	z-index: -1;
}

main {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

h1 {
	font-size: 52px;
	color: white;
	text-shadow: 5px 5px black;
}


a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: white;
}

#start {
	background-color: #00d42a;
	width: clamp(270px, 20vw, 400px);
	height: clamp(60px, 5vh, 160px);
	border: none;
	border-right: 2px solid #00ad22;
	border-bottom: 2px solid #008a1b;
	font-size: 40px;
	color: #002b08;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	margin-top: 15px;
	cursor: pointer;
}

#start:hover {
	background-color: #00cc29;
}

#wrapper {
	display: block;
}


#chk {
	display: none;
}

#list li:first-child {
	transform: translateX(25px) skew(-30deg);
}

#list li:nth-child(2) {
	transform: translateX(25px) skew(-30deg);
}

#list li:last-child {
	transform: translateX(25px) skew(-30deg);
}

#list {
	font-size: 25px;
	transition: 0.8s linear;
	display: none;
	text-align: left;
	position: absolute;
	border-left: 2px solid black;
	transform: skew(30deg) translateX(30px);
}

#list li {
	position: relative;
}
